
.tabbuttons:hover{
    color:#131111 !important;
}
.nav-pills .nav-link.active{
    border: 3px solid rgba(232, 76, 82, 1);
    background-color: #fff !important;
    color: black;
}

.tabbuttons{
    border: 3px solid rgba(232, 76, 82, 1);
    background-color:  rgba(232, 76, 82, 1);
    color: #fff;
}
 tr td {
    border: 1px solid gray 
 }